/* CSS Document*/




/*Booth-logo sizing*/

.header-img {
    top:0;
    left:0;
    right:0;
    padding-bottom: 10px;
}

.booth-logo {
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
/* Custom styling to navbar
----------------------------------*/

li {
    text-transform: uppercase;
    color:#7f8284;
}

.nav-container {
    margin-bottom: 10px;
    text-align: center;
     color:#7f8284;
}


.nav {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
    font-size: 10px;
}


/* Header Divder
----------------------------------*/
.header-div{
    margin:auto;
    background-color: #8e9396;
    
}
.program-name {
    color:white;
    text-transform:uppercase;
    text-align: center;
    font-weight:bold;
    font-size: 10px;
    padding: 5px;
    left: auto;
    right:auto;
}


/* Media
----------------------------------*/

.jumbotron {
    height: 600px;
}

.content{
    padding:20px;
    margin:5;
}
.main-story {
    font-size: 27.04px;
    text-transform:uppercase;
    text-align: center;
    color:#7f8284;
}

.paragraph {
    text-align: center;
    font-size:10px;
    color:#7f8284;
}

h4 {
    text-align: center;
    color:#7f8284;
}

p {
    text-align: center;
    font-size:10px;
    color:#7f8284;
}

.row {
    margin-top: 5%;
}

/* footer
----------------------------------*/
.text-muted {
    padding-top:5px;
}

.footer {
    position: relative;
    margin:0 auto;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}


/* Responsive CSS
----------------------------------*/
@media (max-width:768px) {
    
    .booth-logo {
        height:50px;
    }
    
    a {
        font-size-adjust: 5px;
    }
    
    .footer {
        font-size:10px;
    }
    
    .main-story {
        font-size-adjust: inherit;
    }
    
    .nav {
        font-size-adjust: 15px;
    }
    
    .no-overflow {
        position:absolute;
        top:0;
        left:0;
        display: block;
        white-space: nowrap;
        overflow: auto;
        margin-top: 0;
        max-width:100%;
    }

}



@font-face {
    font-family: TradeGothicLTStd-Bd2;
    src: url("./assests/other/TradeGothicLTStd-Bd2.otf") format("opentype");
}

@font-face {
    font-family: TradeGothicLTStd-Bd2;
    font-weight: bold;
    src: url("./assests/other/TradeGothicLTStd-Bd2.otf") format("opentype");
}