/* CSS Document*/

.container {
    margin-top: 5%;
    height: 100%;
}


/*Booth-logo sizing*/

.header-img {
    top:0;
    left:0;
    right:0;
    padding-bottom: 10px;
}

.booth-logo {
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
/* Custom styling to navbar
----------------------------------*/

ul li {

    display: inline;
}

a {
    color:#a5aaae;
    text-transform:uppercase;
    font-size: 10px;
    font-weight:bold;
}

.nav-container {
    margin-bottom: 10px;
    text-align: center;
}


.nav {
    text-align: center;
    vertical-align: top;
}

.btn {
    color:white;
}
/* Header Divder
----------------------------------*/
.header-div{
    margin:auto;
    background-color: #8e9396;
    
}
.program-name {
    color:white;
    text-transform:uppercase;
    text-align: center;
    font-weight:bold;
    font-size: 10px;
    padding: 5px;
    left: auto;
    right:auto;
}

/* Media
----------------------------------*/

.jumbotron {
    height: 600px;
}

.content{
    padding:20px;
    margin:5;
}
.main-story {
    /*font-family:TradeGothicLTStd;*/
    text-transform:uppercase;
    text-align: center;
    color:#7f8284;
}
.paragraph {
    text-align: center;
    font-size:10px;
    color:#7f8284;
}

.button {
    color:white;
    /*background-color:#fff;*/
}

h4 {
    text-align: center;
    color:#7f8284;
}

p {
    text-align: center;
    font-size:10px;
    color:#7f8284;
}
/* footer
----------------------------------*/

.footer {
    position: relative;
    margin:0 auto;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

/* Responsive CSS
----------------------------------*/
@media (max-width:768px) {
    
    .booth-logo {
        height:50px;
    }
    
    /*.form-inline {*/
    /*    font-size:50%;*/
    /*}*/
    
    a {
        font-size-adjust: 5px;
    }
    
    .footer {
        font-size:10px;
    }
    
    .main-story {
        font-size-adjust: inherit;
    }
}

@font-face {
    font-family: TradeGothicLTStd-Bd2;
    src: url("./assests/other/TradeGothicLTStd-Bd2.otf") format("opentype");
}

@font-face {
    font-family: TradeGothicLTStd-Bd2;
    font-weight: bold;
    src: url("./assests/other/TradeGothicLTStd-Bd2.otf") format("opentype");
}